<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Saved Articles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/bootstrap.min.css" />

    <script src="../js/options.js"></script>
</head>

<style>
    h3{
        font-weight: bolder;
        font-size:35px;
	    color:brown;
    }


</style>
<body>

    <div style="margin:1% 3% 3% 3%;">
        <div class="container-fluid">
                <div class="row">
                    <h3>Dictionary View</h3> <p><i>Searched meanings below</i></p>
                    <br>
                    <div class="col-md-4" style="border:1px black solid;height:200px;border-radius: 10px;overflow-y:auto">
                        <div id="word_view" style="overflow-y:auto"></div>
                    </div>
                </div>
        </div>
    </div>
    <footer style="text-align:center;padding:20px;background-color:rgb(23, 57, 131);color:white;font-weight:bold;">Designed by Team CodeZero @HackaBIT, BIT Mesra</footer>
</body>
</html>