<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Productify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/bootstrap.min.css" />
    <script src="../js/front_page.js"></script>
    
    <style>
        .col-md-6 {
            padding:20px;
        }
    </style>
</head>
<body>
    <div class="text-center" style="background-color:rgb(23, 57, 131);color: floralwhite;"><strong>PRODUCTIFY</strong><br>Control and Diversify the Dependance on the Web</div><hr>
    <div class="container">
        <div class="col-md-12 ">
            <h4>Productivity Meter:</h4>
            <hr>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6">
                <div id="blocked-num"></div>
                <p>No.of Websites Blocked</p>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                Time Spent on current Website:
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6">
                <div id="dictionary-num"></div>
                <p>No. of words in Dictionary</p>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                No. of Articles:
            </div>
        </div>

    </div>
    <script>
        console.log('this is working popup')
        let blocks = document.getElementById('blockWebs');
        blocks.innerHTML = 2;
        alert('working')
        chrome.storage.sync.get('mainMemory', (details) => {
            let blocked = details.mainMemory.blockedWebsites;
            blocks.innerHTML = blocked.length -1;
            console.log('front_page.js is '+blocked.length-1)
        });
    </script>
    
</body>
</html>