<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Productify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/bootstrap.min.css" />
    <script src="../js/front_page.js"></script>
</head>
<body>
    <h3>Productify</h3> <hr>
    
</body>
</html>