<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Options - Productify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/options.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/bootstrap.min.css" />
    <script src="../js/options.js"></script>
</head>
<body>
    <h3 class="jumbotron text-center" style="background-color: rgb(20, 62, 116);color:floralwhite">Productify - Control and Diversify your dependence on the web</h3>
    <hr>
    <div class="container">
        <div class="col-md-12">
            <!--Meter of productivity-->
            productivity--meter
           <hr>
        </div>
        <div class="row">
            Web View <hr>
            
            <div class="col-md-6" id="all_urls">
                all urls are shown here
                <div class="round-box-web-view" id="all_urls_view">
                    <!-- example of component -->
                    
                </div>
            </div>
            <div class="col-md-6" id="blocked_urls">
                all blocked urls are shown here
                <div class="round-box-web-view" id="blocked_urls_view">

                </div>
            </div>
        </div>

    </div>
    
</body>
</html>